.form {
  display: flex;
  border-top: 2px solid #d3d3d3;
}

.input {
  font-family: "Fredericka the Great", cursive !important;
  border: none;
  border-radius: 0;
  padding: 5%;
  width: 80%;
  font-size: 1.2em;
  border-radius: 0 0 0 6px;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
  font-family: "Acme", cursive !important;
  text-transform: initial;
}

.sendButton {
  font-family: "Oswald", cursive !important;
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #2979ff;
  padding: 20px;
  display: inline-block;
  border: none;
  width: 20%;

  border-radius: 0 0 6px 0;
}
